body {
	font-family: var(--ff);
	font-weight: var(--fw-400);

	color: var(--clr-text);
}

main {
	display: grid;
	align-content: center;
	min-height: 100vh;
	padding-block: 5.6rem;

	background-color: var(--bg-body);
	overflow: hidden;
}

h1,
h2,
h3 {
	font-weight: var(--fw-700);
	color: var(--clr-heading);
}
