.benefit-list {
	&__item {
		display: flex;
		align-items: center;

		font-size: var(--fz-small);

		&:not(:last-child) {
			margin-bottom: 1rem;
		}

		img {
			margin-right: 1rem;
		}

		@media (max-width: 50em) {
			justify-content: center;
		}
	}
}
